<h1>Editing Book</h1>

<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>

  <div>Title<br>
  <%= f.text_field :title %></div>

  <div>Body<br>
  <%= f.text_area :body %></div>
  <div><%= f.submit 'Update Book' %></div>
<% end %>

<%= link_to "Show", "/books/#{@book.id}" %> | <%= link_to "Back", "/books" %>
