<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan = "3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body%></td>
        <td><%= link_to "Show", "/books/#{book.id}/" %></td>
        <td><%= link_to "Edit", "/books/#{book.id}/edit" %></td>
        <td><%= link_to "Destroy", "/books/#{book.id}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>
<%= form_with model:@new_book, local:true do |f| %>

  <div>Title<br>
  <%= f.text_field :title %></div>

  <div>Body<br>
  <%= f.text_area :body %></div>
  <div><%= f.submit 'Create Book' %></div>
<% end %>

